.header {
  background: #fff;
  border-bottom: 1px solid #ddddddc7;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
  text-align: center;
}

.header__logo {
  color: #6c470f;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  
}