.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 80%;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
  color: #6c470f;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form__group {
  display: flex;
  margin-bottom: 15px;
}

.form__group-title {
    width: 200px; 
    text-align: left; 
    padding-right: 20px;
    color: #6c470f;
}

.form__label--required {
  margin-left: 0px;
  padding: 4px 6px;
  border-radius: 3px;
  background: #fafafa;
  color: #ff0000;
}

.form__group-content {
    flex-grow: 1; 
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.form__input--text {
    display: flex; 
    gap: 20px; 
     align-items: center;
}

.form__input--text input,
.form__input--textarea textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  color:#6c470f;
  appearance: none;
}

.form__input--text input {
  width:100%;
  height: 40px;
}


.form__input--text input[name="last_name"], 
.form__input--text input[name="first_name"] {
    flex-grow: 1; 
}

.form__group-content input[name="tel_1"],.form__group-content input[name="tel_2"],.form__group-content input[name="tel_3"] {
    flex-grow: 1; 
    max-width: 70%; 
    min-width: 0;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 10px;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #6c470f;
  color: #fff;
  cursor: pointer;
}